//
//  Supernova
//  Includes:
//    * /ghost: ghost overrides
//    * /supernova: main supernova styles
//  Author: Eugene Rodionov
//

@import "supernova/variables";
@import "supernova/mixins";
@import "supernova/experiments";
@import "supernova/global";
@import "supernova/cover";
@import "supernova/navbar";

@import "ghost/post";
@import "ghost/pagination";

// Experiments
.fadeInUp {
  animation-name: fadeInUp;
  animation-fill-mode: both;
  animation-delay: .3s;
  animation-duration: .3s;
}