//
//  Supernova
//  Includes:
//    * mixins.scss: useful mixins
//    * /ghost: ghost overrides
//    * /supernova: main supernova styles
//  Author: Eugene Rodionov
//

@import "mixins";

@import "supernova/variables";
@import "supernova/experiments";
@import "supernova/global";
@import "supernova/cover";

@import "ghost/ghost";

// Experiments
.fadeInUp {
  animation-name: fadeInUp;
  animation-fill-mode: both;
  animation-delay: .4s;
  animation-duration: .4s;
}