
@import "variables";
@import "mixins";
@import "ghost";
@import "experiments";

// Global
body {
  font-family: $sans-serif;
}

a {
  color: $blue;
  transition: all .3s;

  &:hover {
    text-decoration: none;
    border-bottom: 1px solid;
  }
}

h1, h2, h3 {
  font-weight: 400;
  font-family: $serif;
}

h4, h5, h6 {
  font-weight: 700;
  font-family: $serif;
}

// Header
.blog-cover {
  background-color: $white;
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid $lightgray;
  
  .blog-cover-overlay {
    display: none;
  }

  &, h1 {
    font-family: $sans-serif;
    font-weight: 400;
  }

  a {
    color: $black;

    &:hover {
      text-decoration: none;
      color: $asphalt;
      border: 0;
    }
  }

  .blog-image {
    display: block;

    img {
      max-height: 200px;
      border-radius: 50%;
    }
  }

  &.covered {
    color: $white;
    position: relative;
    padding-top: 3em;

    @include responsive(sm) {
      padding: 10em 0 5em 0;
    }

    &, h1 {
      font-family: $serif;
      text-shadow: 1px 1px 1px $black;
    }

    .blog-cover-overlay {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background-color: rgba(0, 0, 0, 0.3);

      .blog-return-link {
        text-shadow: none;
        font-family: $sans-serif;
        font-size: .7em;
        color: $white;

        position: absolute;
        top: 1em;
        left: 3em;

        @include responsive(sm) {
          left: 1em;
        }

        &:hover {
          color: darken($white, 10%);
        }

        img {
          max-width: 50px;
          border-radius: 50%;
        }
      }
    }

    .blog-cover-content {
      text-align: left;
    }
  }
}

// Sticky footer
html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto (-($footer-height + $footer-margin)); // Negative indent footer by its height
  padding-bottom: $footer-height + $footer-margin; // Pad bottom by footer height
  // padding-bottom: 2em;
}

.main-footer {
  height: $footer-height;
  padding: 1em 0;
  margin-top: $footer-margin;
  border-top: 1px solid $lightgray;
  color: $gray;

  a {
    color: lighten($blue, 10%);

    &:hover {
      color: $blue;
    }
  }
}

// Experiments
.fadeInUp {
  animation-name: fadeInUp;
  animation-fill-mode: both;
  animation-delay: .4s;
  animation-duration: .4s;
}