// Header
.blog-cover {
  background-color: #fff;
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 1em;
  position: relative;
  padding: 0 0 30px 0;
  font-size: inherit;

  &, h1 {
    font-family: $font-family-sans-serif;
    font-weight: 400;
  }

  a {
    border: 0;

    &:hover {
      text-decoration: none;
    }
  }

  .blog-image {
    max-height: 100px;
    border-radius: 50%;

    @include responsive(sm) {
      max-height: 200px;
    }
  }

  .blog-cover-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
  }

  &.covered {
    color: #fff;

    @include responsive(sm) {
      padding-bottom: 5em;
    }

    a {
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom-color: #fff;
        color: $gray-lighter;
      }
    }

    &, a {
      color: #fff;
      text-shadow: 1px 1px 1px #111;
    }

    .blog-cover-overlay {
      visibility: visible;
    }
  }
}

.post-template {
  .covered {
    .blog-title {
      text-align: left;
      font-family: $font-family-serif;
    }
  }
}