// Header
.blog-cover {
  background-color: $white;
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid $lightgray;
  margin-bottom: 1em;
  
  .blog-cover-overlay {
    .btn-stmenu {
      position: absolute;
      top: 1em;
      left: 3em;

      background-color: rgba(0, 0, 0, 0);
      border: 0;
      color: rgb(85, 164, 242);

      &:hover {
        color: darken($white, 10%);
      }

      @include responsive(sm) {
        left: 1em;
      }
    }
  }

  &, h1 {
    font-family: $sans-serif;
    font-weight: 400;
  }

  a {
    color: $black;

    &:hover {
      text-decoration: none;
      color: $asphalt;
      border: 0;
    }
  }

  .blog-image {
    display: block;

    img {
      max-height: 200px;
      border-radius: 50%;
    }
  }

  &.covered {
    color: $white;
    position: relative;
    padding-top: 3em;

    @include responsive(sm) {
      padding: 10em 0 5em 0;
    }

    &, h1 {
      font-family: $serif;
      text-shadow: 1px 1px 1px $black;
    }

    .blog-cover-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background-color: rgba(0, 0, 0, 0.3);

      .blog-link-login {
        color: $white;
      }
    }

    .blog-cover-content {
      text-align: left;
    }
  }
}
