$footer-height: 6em;
$footer-margin: 5em;

$white: rgb(255, 255, 255);
$lightgray: rgb(238, 238, 238);
$gray: rgb(153, 153, 153);
$asphalt: rgb(85, 85, 85);
$black: rgb(17, 17, 17);

$blue: rgb(85, 164, 242);
$lightblue: rgb(91, 192, 222);
$green: rgb(46, 204, 113);
$orange: rgb(230, 126, 34);
$magenta: rgb(228, 183, 240);
$red: rgb(231, 76, 60);
$gold: rgb(234, 193, 23);

$facebook-color: rgb(72, 99, 174);
$twitter-color: rgb(70, 192, 251);
$gplus-color: rgb(221, 75, 57);
$vk-color: rgb(69, 104, 142);

$sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, Palatino, Times, "Times New Roman", serif;