// Post
.post-content {
  font-family: $serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  p {
    margin-bottom: 2em;
  }

  ul {
    margin-bottom: 2em;
  }
  
  img {
    max-width: 100%;
    border: 1px solid $lightgray;
    box-shadow: .4em .4em 0 $lightgray;

    &[alt="no-border"] {
      border: 0;
      box-shadow: none;
    }
  }

  blockquote {
    margin-left: -25px;
    border-color: $blue;
    border-width: .2em;
    font-style: italic;

    &.quote-lg {
      margin: 0;
      padding: 0;
      border: 0;
      padding: 2em 0em 2em 2em;
      font-size: 1.7em;
      line-height: 1.5;
    }

    p {
      font-size: 1.1em;
    }
  }

  pre,
  code {
    background-color: rgb(41, 46, 51);
    color: $white;
    border: 0;

    code {
      font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    }
  }
}

.post-featured-marker {
  color: $gold;
  display: none;
}

.post {
  &.featured {
    .post-featured-marker {
      display: block;
    }
  }
}

.post-tags {
  font-size: .9em;
  color: rgb(153, 153, 153);
}

.post-footer {
  border-top: 1px solid rgb(238, 238, 238);
  margin-top: 2em;
  padding: 1em 0;

  .fa-social {
    font-size: 2em;
    margin-right: 1em;
    transition: color .3s;

    &:hover {
      border: 0;
    }

    &.fa-facebook {
      color: $facebook-color;

      &:hover {
        color: darken($facebook-color, 20%);
      }
    }

    &.fa-twitter {
      color: $twitter-color;

      &:hover {
        color: darken($twitter-color, 20%);
      }
    }

    &.fa-google-plus {
      color: $gplus-color;

      &:hover {
        color: darken($gplus-color, 20%);
      }
    }
  }
}

.post-author {
  .post-author-image {
    max-height: 100px;
    border-radius: 50%;
  }
}

// Pagination (wow, Ghost render template on backend!)
.pagination {
  position: relative;
  width: 100%;
  margin: 1em auto;
  font-family: $sans-serif;
  font-size: .9em;
  color: $gray;
  text-align: center;

  a {
    color: $gray;
  }

  .older-posts,
  .newer-posts {
    position: absolute;
    display: inline-block;
    text-decoration: none;
  }

  .older-posts {
    right: 0;
  }

  .page-number {
    display: inline-block;
    padding: 2px 0;
  }

  .newer-posts {
    left: 0;
  }
}