.post {
  margin-bottom: 2em;
}

.post-meta {
  color: $gray;
}

.post-tags {
  font-size: .9em;
}

// Post
.post-content {
  font-family: $serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  p {
    margin-bottom: 2em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    margin-bottom: 2em;
  }
  
  img {
    max-width: 100%;
    border: 1px solid $lightgray;

    &[alt="no-border"] {
      border: 0;
    }

    &[alt="image-cover"] {
      display: none;
    }
  }

  .image-block {
    display: block;
    text-align: center;

    &:hover {
      border: 0;
    }
  }

  .gallery {
    .col-sm-3,
    .col-sm-6,
    .col-sm-9 {
      padding: 0;

      &:hover {
        border: 0;
      }
    }

    margin-bottom: 2em;
  }

  blockquote {
    margin-left: -25px;
    border-color: $blue;
    border-width: .2em;
    font-style: italic;

    &.quote-lg {
      margin: 0;
      padding: 0;
      border: 0;
      padding: 2em 0em;
      font-size: 1.7em;
      line-height: 1.5;

      @include responsive(sm) {
        padding-left: 2em;
      }
    }

    p {
      font-size: 1.1em;
    }
  }

  pre,
  code {
    background-color: $asphalt;
    color: $white;
    border: 0;

    code {
      font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    }
  }
}

.post-share {
  text-align: center;
  margin-top: 2em;

  .fa-social {
    padding-top: .8em;
    padding-bottom: .8em;

    font-size: 3em;
    color: $lightgray;

    z-index: 1;

    border-top: 1px solid $lightgray;
    border-bottom: 1px solid $lightgray;
    transition: all .3s;

    &:hover {
      z-index: 2;
    }

    &.fa-facebook {
      &:hover {
        color: $facebook-color;
        border-color: $facebook-color;
      }
    }

    &.fa-twitter {
      &:hover {
        color: $twitter-color;
        border-color: $twitter-color;
      }
    }

    &.fa-google-plus {
      &:hover {
        color: $gplus-color;
        border-color: $gplus-color;
      }
    }

    &.fa-vk {
      &:hover {
        color: $vk-color;
        border-color: $vk-color;
      }
    }
  }
}

.post-author {
  .post-author-image {
    max-height: 100px;
    border-radius: 50%;
  }
}

.post-disqus {
  margin-top: 2em;
}

// Pagination (wow, Ghost render template on backend!)
.pagination {
  position: relative;
  width: 100%;
  margin: 1em auto;
  font-family: $sans-serif;
  font-size: .9em;
  color: $gray;
  text-align: center;

  a {
    color: $gray;
  }

  .older-posts,
  .newer-posts {
    position: absolute;
    display: inline-block;
    text-decoration: none;
  }

  .older-posts {
    right: 0;
  }

  .page-number {
    display: inline-block;
    padding: 2px 0;
  }

  .newer-posts {
    left: 0;
  }
}