// Pagination (wow, Ghost render template on backend!)
.pagination {
  position: relative;
  width: 100%;
  margin: 1em auto;
  font-family: $sans-serif;
  color: $gray;
  text-align: center;

  .older-posts,
  .newer-posts {
    margin: 0 4em;
  }

  .page-number {
    padding: 2px 0;
  }
}